{% extends "base.html" %}
{% block titulo %} Equipo {% endblock %}
{% block contenido %}

<body class="equipo_body">
    <div class="row">
        {% for team in equipo %}
        <div class="col-lg-4 col-md-6 col-sm-12 mt-4">
            <div class="card">
                <img class="card-img-top" src="{{MEDIA_URL}}/imagenes/{{ team.imagen }}" />
                <div class="card-body">
                    <h4 class="card-title">{{ team.nombre }}</h4>
                    <p class="card-text">{{ team.cargo }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</body>
{% endblock %}