{% extends "base.html" %}
{% block titulo %} Nosotros {% endblock %}
{% block contenido %}
<div class="container mt-5 about-section">
    <div class="row">
        <div class="col-lg-6">
            <img src="https://cdn.pixabay.com/photo/2015/01/08/18/27/startup-593341_1280.jpg" alt="Imagen de la empresa"
                class="img-fluid">
        </div>
        <div class="col-lg-6 align-self-center">
            <h2 class="mb-4">Sobre Nosotros</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ultrices nisl id nunc vestibulum, euismod
                placerat purus accumsan...</p>
            <p>Integer tristique consectetur ultricies. Proin feugiat vehicula ullamcorper. Vestibulum ante ipsum primis
                in faucibus orci luctus et ultrices posuere cubilia Curae...</p>
            <p>Phasellus sodales, ex id blandit cursus, justo enim aliquam ex, at sollicitudin urna odio sed libero...
            </p>
        </div>
    </div>
</div>
{% endblock %}